<h1>Get a random number</h1>

<form action="/random/result">
  <div> 
    <label for="min_input"> 
      Minimum
    </label>
    <input type="text" id="min_input" name="user_min" placeholder="E.g. 5">

    <label for="max_input"> 
      Maximum
    </label>
    <input type="text" id="max_input" name="user_max" placeholder="E.g. 100">
    


    <button>
      Pick random number
    </button>
  </div> 
</form> 
