<h1>Get the Square of a number</h1>

<form action="/square/results">
  <div> 
    <label for="square_input"> 
      Enter a number
    </label>
    
    <input type="text" id="square_input" name="user_number" placeholder="E.g. 9">

    <button>
      calculate square
    </button>
  </div> 
</form> 
